<div class="w-full h-24 shadow-md flex bg-[rgba(255,255,255,0.7)] sticky top-0">
  <div class="max-w-[1280px] px-4 py-3 flex justify-between items-center flex-1 mx-auto">
    <img class="cursor-pointer" [routerLink]="['/']" src="assets/logo.png">
    <!-- <div class="flex gap-6">
      <a class="navigate-item hover:text-green-500">Trang chủ</a>
      <a class="navigate-item hover:text-green-500" [routerLink]="['/']" fragment="product">Đặc sản COLOA</a>
      <a class="navigate-item hover:text-green-500">Tìm hiểu về COLOA</a>
      <a class="navigate-item hover:text-green-500">Liên hệ</a>
    </div> -->
  </div>
</div>
